<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<!--
    http://docs.oracle.com/javase/specs/
    http://checkstyle.sourceforge.net
    http://checkstyle.sourceforge.net/writingchecks.html
-->
<module name="Checker">
    <!-- checks that each Java package has package-info.java -->
    <module name="JavadocPackage">
        <property name="allowLegacy" value="true"/>
    </module>
    <!-- ensure the last line parsed properly with a new line or carriage return -->
    <module name="NewlineAtEndOfFile"/>
    <!-- Checks that property files contain the same keys. -->
    <module name="Translation"/>
    <!-- 文件最大长度 2000 行 -->
    <module name="FileLength">
        <property name="max" value="2000"/>
    </module>

    <module name="TreeWalker">
        <!-- 检查所有类型的javadoc -->
        <module name="JavadocType"/>
        <!-- 检查所有方法的javadoc -->
        <module name="JavadocMethod">
            <property name="allowUndeclaredRTE" value="true"/>
            <property name="allowThrowsTagsForSubclasses" value="true"/>
            <property name="allowMissingParamTags" value="true"/>
            <property name="allowMissingReturnTag" value="true"/>
            <property name="allowMissingPropertyJavadoc" value="true"/>
            <property name="allowMissingThrowsTags" value="true"/>
        </module>
        <!-- 命名规范部分 -->
        <!--类名必须以大写字母开始-->
        <module name="TypeName"/>
        <!--常量(static , final 字段) 命名为大写-->
        <module name="ConstantName"/>
        <!--变量 命名为小写-->
        <module name="MemberName"/>
        <!--方法名 命名为小写-->
        <module name="MethodName"/>
        <!--方法中的参数名 命名为小写-->
        <module name="ParameterName"/>
        <!--包名全为小写-->
        <module name="PackageName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="StaticVariableName"/>
        <!-- imports 规范(限制冗余的,未使用的) -->
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <!-- 长度检查部分 -->
        <!--每行不超过150个字-->
        <module name="LineLength">
            <property name="max" value="150"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="450"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="9"/>
        </module>
        <!-- Checks for whitespace  -->
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <!-- Modifier Checks -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <!-- Checks for blocks -->
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <!--左侧大括号位置检查-->
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <!--右侧大括号位置检查-->
        <module name="RightCurly"/>
        <!-- 常见编码问题 -->
        <!-- 禁止使用System.out.println输出 -->
        <module name="Regexp">
            <property name="format" value="System\.out\.println"/>
            <property name="illegalPattern" value="true"/>
        </module>
        <!--避免 null.equals("sss")情况-->
        <module name="EqualsAvoidNull"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <!--不允许 MagicNumber-->
        <!--<module name="MagicNumber"/>-->
        <module name="MissingSwitchDefault"/>
        <module name="SimplifyBooleanExpression"/>
        <!--<module name="SimplifyBooleanReturn"/>-->
        <!-- Checks for class design -->
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="VisibilityModifier"/>
        <!-- Miscellaneous other checks -->
        <!--检查数组声明,使用java风格-->
        <module name="ArrayTypeStyle"/>
        <module name="TodoComment"/>
        <module name="UpperEll"/>
        <!-- 不能出现大块空白区域 -->
        <module name="GenericWhitespace"/>

    </module>

</module>